.section6 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(205, 234, 225, 1);
  width: 80%;
  margin: auto;
  position: absolute;
  top: -40%;
  left: 10%;
  border-radius: 15px;
  padding: 20px 20px 0;
}
.section61 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(205, 234, 225, 1);
  width: 80%;
  margin: auto;
  border-radius: 15px;
  padding: 20px 20px 0;
}
.s22 {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .s22 {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .s22 {
    width: 95%;
  }
}
